.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .Login input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .Login-button:hover {
    background-color: #45a049;
  }
  
  .Login-register-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
  
  .Login-register-text a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .Login-register-text a:hover {
    text-decoration: underline;
  }