.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .Login input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Login-button {
    width: 150px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Login-register-text {
    margin-top: 10px;
  }
  