.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 5px;
  }
  
  .Register input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Register-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .Register-button:hover {
    background-color: #45a049;
  }
  
  .Register-login-text {
    margin-top: 10px;
   font-size: 14px;
  text-align: center;
  }

  .Register-login-text a {
    color: #4caf50;
    text-decoration: none;
  }
  
  .Register-login-text a:hover {
    text-decoration: underline;
  }
  