.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
}


.Header .Header-buttons {
  display: flex;
  align-items: center;
}

.Header button {
  margin-left: 10px;
}

.Avatar {
  margin-left: auto;
 
  align-items: center;
  margin-left: auto;
}

.Avatar .icon {
  width: 24px;
  height: 24px;
  color: #333;
}

.Logo {
  margin-right: auto;
}
